@font-face{
    font-family: 'Monster Hunter';
    src: url('../fonts/Monsterhunter.woff') format('woff'),
         url('../fonts/Monsterhuntertype2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VTCGoblinHand';
    src: url('../fonts/VTCGoblinHand.woff') format('woff'),
         url('../fonts/VTCGoblinHandBold.woff;') format('woff'),
         url('../fonts/VTCGoblinHandItalic.woff') format('woff'),
         url('../fonts/VTCGoblinHandSC.woff') format('woff'),
         url('../fonts/VTCGoblinHandItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background-image: url('../assets/fundo/fundo.png') !important;
    background-repeat: no-repeat!important;
    background-size:cover !important;
}

.logo{
    width: 50%;
    height: 50%;
}

.monstro-buscado{
    background: url("../assets/fundo/grunge-paper-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin: 5%;
    padding: 2rem;
}

body{
    background-image: url("../assets/fundo/grunge-paper-background.jpg");
    background-repeat: round;
    background-size: cover;
}

main{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}

div > h1 {
    text-align: center;
    margin-top: 2rem
}

div > h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer{
    background-color: #911F20;
    background-image: url("../assets/fundo/palicoes.png");
    background-repeat: repeat;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .25rem;    
}

footer > div{    
    text-align: center;
    color: rgb(0, 160, 160);
    font-weight: 500;
    text-shadow: .5px .5px 1px rgba(255, 255, 255, 0.8)  
}

.resultado-busca{
    margin: 3rem;
    /*background-image: url(); buscar imagem de página de pergaminho ou papiro*/
}

.navbar-toggler {
    top: 2rem;
    left: 2rem;
}

.linkfooter {
    text-decoration: none;
    color: rgb(0, 160, 160);
    font-weight: 500;
    text-shadow: .5px .5px 1px rgba(255, 255, 255, 0.8)
}

.monstro-folha{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.cartao{
    background-image: url("../assets/fundo/grunge-paper-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    width: 138px;
    height: 175px;
    padding: .5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: .8rem;
    padding-right: 1rem;
}

.cartao-img{ 
    width: 120px;
    height: 120px;   
}

.todos-monstros{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.hide{
    display: none;
}

/*.cartao-conteudo*/

h1{
    text-align: center;
    font-family: 'Monster Hunter', sans-serif;
    color: #460101;  
}

h2{
    text-align: center;
    font-family: 'Monster Hunter', sans-serif;
    color: #460101;  
}

.cartao-nome{
    text-align: center;
    font-family: 'Monster Hunter', sans-serif;
    justify-content: center;
    color: #460101;
    font-size: 18px;  

}

.navbar-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-item{
    flex-direction: row;
    font-family:'Monster Hunter', sans-serif ;
    font-size: 2rem;
    font-weight: 600;    
}

.img-monstro{
    width: 300px;
    height: 300px;
    background: url("../assets/fundo/grunge-paper-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px 1px 1px 1px #00000014;;
}

.img-icon{
    width: 100px;
    height: 100px;
}

legend{
    font-family: 'Monster Hunter', sans-serif;
    font-size: 0.5rem;
    color: #460101;  
}
.flex-busca{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
